.container {
  background-color: #efefef;
  padding: 48px 24px;
}

.innerWrapper {
  display: flex;
  justify-content: flex-end;
  max-width: 1272px;
  margin: 0 auto;
}

.intro {
  width: 636px;
  color: #000000;
  font-size: 32px;
  line-height: 48px;
}

@media (max-width: 576px) {
  .intro {
    color: #000000;
    font-size: 24px;
    text-align: center;
    line-height: 36px;
  }
}
