.container {
  padding: 80px 24px 160px;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1272px;
  margin: 0 auto;
}

.experienceArticle {
  max-width: 636px;
}

.experienceArticle p {
  color: #000000;
  font-size: 24px;
  line-height: 36px;
}

.experienceArticle span {
  color: #949494;
  font-size: 20px;
  font-style: italic;
  line-height: 30px;
}

/* 工具樣式 */
.mb8 {
  margin-bottom: 8px !important;
}

.mb12 {
  margin-bottom: 12px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}
